.card-header-next {
	position: absolute;
	max-width: calc(100% - 27px);
	width: calc(100% - 27px);
	margin-top: 10px;
	margin-left: 10px;
}

.author-visible {
	opacity: 100%;
	animation: author-visible-animation 1.5s ease-in-out;
}

.author-visible-allways {
	opacity: 100%;
}

.author-hidden {
	opacity: 0%;
}

.author-new-hidden {
	opacity: 0%;
	animation: author-hidden-animation 1.5s ease-in-out;
}

.card-header {
	transition: opacity 1.5s ease-in-out;
	display: block;
	max-height: 110px;
	height: 110px;
	padding: 0;
}

.author-desc {
	max-height: 109px;
	flex-wrap: nowrap;
	height: 109px;
}

.author-desc h6 {
	overflow: hidden;
}

.print-header {
	display: none !important;
}

@keyframes author-visible-animation {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

@keyframes author-hidden-animation {
	0% {
		opacity: 100%;
	}
	100% {
		opacity: 0%;
	}
}

@media print {
	.no-print-author {
		display: none !important;
	}
	.print-header {
		display: flex !important;
	}
}
