.__react_component_tooltip span {
	text-align: left !important;
}
.__react_component_tooltip {
	font-size: 16px !important;
	font-weight: 500;
}
.__react_component_tooltip.show {
	opacity: 1 !important;
}
.tooltip {
	border: 1px solid black !important;
	z-index: 2000 !important;
}
.tooltip.place-top::after,
.tooltip.place-bottom::after {
	border-color: black transparent !important;
}
.tooltip.place-right::after,
.tooltip.place-left::after {
	border-color: transparent black !important;
}
