.certificate {
	object-fit: cover;
	max-width: 75vw;
	max-height: 75vh;
	transition: max-width ease-out 0.4s;
	transition: max-height ease-out 0.4s;
}

.certificate-hide {
	max-width: 0px;
	max-height: 0px;
	opacity: 0%;
}

.img-container {
	position: relative;
}

.button-certificate-close {
	right: 10px;
	top: 10px;
}
