.flag {
	height: 12px;
	width: 16px;
	margin-left: auto;
	position: absolute;
	right: 10px;
	top: 0px;
}
.avatar {
	border-radius: 50%;
	height: 90px;
	width: 90px;
	object-fit: cover;
	box-shadow: -2px 4px 3px var(--bs-primary-border-subtle);
}
